{% extends 'layouts/base.html' %}
{% block content %}

<h1>Tareas</h1>


{% for task in task_list %}
{% if task.done == False %}
    <h2>{{ task.title }} - {{ task.project.name}} </h2>
    <p><b>{{ task.description }}</b></p>
    <a href="{% url 'done_task' task.id %}">
        <button>
            Done
        </button>
    </a>
    <a href="{% url 'delete_task' task.id %}" onclick="return confirm('¿Estás seguro de que quieres eliminar esta tarea?');">
        <button>
            Delete
        </button>
    </a>
{% endif %}
{% endfor %}
{% endblock %}