{% extends 'layouts/base.html' %}
{% block content %}

    <h1>{{ project.name }}</h1>
    <p><a href="{% url 'all_projects' %}">Back</a></p>
    
    {% for single_task in task_filtered %}
        <b><p>{{ single_task.title }}</p></b>
        <p>{{ single_task.description }}</p>
        <a href="{% url 'done_task' single_task.id %}">
            <button>
                Done
            </button>
        </a>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <button>New task</button>
    </form>
{% endblock %}
