<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block extra_head %}
    <title>Task Manager</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'all_projects' %}">Projects</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>