<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'layouts/base.html' %}
    {% load static %}
    {% block content %}
    <h1>Index</h1>
    <img src="{% static 'imagen.jpg' %}" alt="" width="100%">
    <h2>{{title}}</h2>
    <p>Template Index</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti voluptates harum soluta nostrum nulla, corporis blanditiis officiis laudantium molestiae, earum ipsum et modi obcaecati dolorem at ipsam nobis eligendi aperiam quo reprehenderit sapiente. Unde provident earum tempora! Voluptate, ab iusto sunt corporis harum dolores mollitia temporibus ut saepe accusamus tenetur quia veniam. Fuga non enim quis quas sapiente accusamus eius architecto omnis veritatis quae quia eum excepturi, quos dolor nemo fugiat error ullam eligendi pariatur voluptas reiciendis quam voluptatibus corporis. Ab nesciunt sit fuga inventore deserunt ullam, accusamus quis adipisci ut debitis similique. Necessitatibus laudantium ullam architecto repellendus placeat amet!</p>
    {% endblock %}
</body>
</html>